@import url("https://fonts.googleapis.com/css2?family=Yeseva+One&display=swap");

:root {
  --main-bg-color: #212529;
  --primary-bg-color: #f02d3a;
}

body {
  font-family: "Yeseva One", cursive;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.container {
  min-height: 90vh;
}

nav {
  min-height: 10vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--main-bg-color);
  color: #fff;
  padding: 0 50px;
}

h1 {
  font-size: 2rem;
}

ul {
  display: flex;
  gap: 30px;
}

ul li {
  list-style: none;
}

a {
  text-decoration: none;
  color: #fff;
}

a:hover {
  color: var(--primary-bg-color);
}

.content {
  max-width: 100vw;
  position: relative;
}

.home-main {
  min-height: 80vh;
  background-color: var(--primary-bg-color);
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
  /* Should remember this line */
  grid-template-rows: auto;
}

.content img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.intro {
  display: grid;
  grid-template-columns: 1fr 3fr;
}

.intro-greeting ul {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

.intro-greeting ul li {
  font-size: 4rem;
  font-weight: bolder;
}

.intro-desc {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  flex-wrap: wrap;
}

.intro-desc h2 {
  font-size: 2.5rem;
  line-height: 1.5;
  padding: 0 50px;
  font-style: italic;
}

footer {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 10vh;
  background-color: var(--main-bg-color);
  color: #fff;
  /* position: fixed;
  bottom: 0px; */
}

/* Menu Page */

.menu {
  max-width: 100%;
  position: absolute;
  top: 30px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 50px;
}

.app-detail p:nth-child(2),
.roll-detail p:nth-child(2) {
  font-size: 0.7rem;
}

/* Contact Page */
