@import url("https://fonts.googleapis.com/css2?family=Yeseva+One&display=swap");

:root {
  --main-bg-color: #212529;
  --primary-bg-color: #f02d3a;
}

body {
  font-family: "Yeseva One", cursive;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--main-bg-color);
  color: #fff;
  padding: 0 50px;
}

h1 {
  font-size: 2rem;
}

ul {
  display: flex;
  gap: 30px;
}

ul li {
  list-style: none;
}

main.content {
  background-color: var(--primary-bg-color);
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
}

.content > img {
  width: 100%;
  height: 100%;
}
