@import url("https://fonts.googleapis.com/css2?family=Yeseva+One&display=swap");

:root {
  --main-bg-color: #212529;
  --primary-bg-color: #f02d3a;
}

body {
  font-family: "Yeseva One", cursive;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.container {
  max-width: 100vw;
  max-height: 100vh;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(6, 1fr);
}

nav {
  max-height: 11vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--main-bg-color);
  color: #fff;
  padding: 0 50px;
  grid-column: 1/3;
  grid-row: 1/2;
}

h1 {
  font-size: 2rem;
}

ul {
  display: flex;
  gap: 30px;
}

ul li {
  list-style: none;
}

main.content {
  background-color: var(--primary-bg-color);
  height: 80vh;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
  /* Should remember this line */
  grid-template-rows: auto;
  gap: 20px;
  grid-column: 1/3;
  grid-row: 2/6;
}

.content img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.intro {
  display: grid;
  grid-template-columns: 2fr 1fr;
}

.intro-greeting ul {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

.intro-greeting ul li {
  font-size: 3rem;
  font-weight: bolder;
}

.intro-desc{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  line-height: 1.4;
}

footer {
  display: flex;
  justify-content: center;
  align-items: center;
  max-height: 10vh;
  background-color: var(--main-bg-color);
  color: #fff;
  grid-column: 1/3;
  grid-row: 6/7;
  /* position: fixed;
  bottom: 0px; */
}
